##
description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/head/head-meta' %}
        <title>October CMS - {{ this.page.meta_title ?: placeholder('pageTitle') }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">

        <meta property="og:title" content="{{ this.page.meta_title ?: placeholder('pageTitle') }}">
        <meta property="og:description" content="{{ this.page.meta_description }}">
        <meta property="og:type" content="{{ this.page.meta_type ?: 'website' }}">
        {% if this.page.meta_image %}
            <meta property="og:image" content="{{ this.page.meta_image|media }}">
        {% endif %}
        <meta property="og:url" content="{{ this.page.url }}">

        <meta name="twitter:card" content="{{ this.page.meta_image ? 'summary_large_image' : 'summary' }}">

        {% if this.page.meta_robots %}
            <meta name="robots" content="{{ this.page.meta_robots }}">
        {% endif %}
        {% partial 'site/head/head-links' %}
        {% partial 'site/head/head-scripts' %}
        {% partial 'site/head/analytics-code' %}
    </head>
    <body class="{{ 'page-'~this.page.id }}">

        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        {% partial 'site/flash-messages' %}

        <section id="layout-content">
            {% page %}
        </section>

        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        {% partial 'site/nav-mobile' %}

        {% partial 'site/how-its-made' %}
    </body>
</html>
